input[data-hook=search-query] {
  display: none;
}

.js input[data-hook=search-query] {
  display: block;
}

.js .js-hidden { display: none; }
.js-shown { display: none; }
.js .js-shown { display: block; }

.region-thumbnail img,
.category-thumbnail img {
  width: 64px;
}

/*
dataset {
  display: block;
  border-bottom: 1px #d6d6d6 solid;
  padding-bottom: 10px;
  padding-top: 10px;
}
*/
.list-group-item-truncate {
  display: inline-block;
  line-height: 1;
  width: 75%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.resource-description {
  font-size: 90%;
}

.datasets-count {
  display: inline-block;
}

.resource-details,
.show-resource-details {
  display: none;
}

.show-resource-details {
  font-size: 80%;
}

.card-grid {
  text-align: justify;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 1rem;
  grid-auto-flow: dense;
}

.card-grid-regions {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
}

.card-grid .card-grid-item:hover {
  background-color: #abccfb;
}

.card-grid .card-grid-item {
  min-width: 150px;
  text-align: center;
  border: none;
  padding: 10px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.card-grid .card-grid-item img {
  height: 80px;
  margin: auto;
}

.card-grid a {
  color: #000;
}

.view-code-link {
  margin: 1em;
}

.breadcrumb {
  background-color: #e9ecef;
  padding: .75rem 1rem;
  border-radius: .25rem;
}

.footer {
  background-color: #e9ecef;
  margin-top: 5em;
  flex-shrink: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 1em;
  font-size: 0.8em;
}
/*
html, body {
  background-color: #f8f8f8;
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}
*/
.nav-item{
text-transform: uppercase;
font-weight: bold;
min-height: 40px;
}

.nav-link{
  padding-left: 10px !important;
  padding-right: 10px !important;
  opacity: 0.5;
  }

.nav-item:hover{
  background-color: #e9ecef;
  opacity: 0.9;
  }

  .bg-primary{
    opacity: 0.9;
    }


  .nav-link:focus{
    opacity: 0.9;
    }
    .nav-link:active{
      opacity: 0.9;
      }
 
      .nav-link.active{
  background-color: #e9ecef;
  font-weight: bold;
  }
.navbar a:hover {text-decoration: none;}  
*/
.dataset-links a {text-decoration: none!important;}
.dataset-links a:hover {text-decoration: underline!important;}
.footer-link:hover{color: #0a58ca !important;}

.hero-cover{background-size: cover;background-image: url("../img/hero-cover.jpg")!important;min-height: 350px;}
.aboutus-cover{background-size: cover;background-image: url("../img/aboutus-cover.jpg")!important;min-height: 350px;    background-position: center; }
.categories-cover{background-size: cover;background-image: url("../img/categories-cover.jpg")!important;min-height: 350px;    background-position: center; }
.regions-cover{background-size: cover;background-image: url("../img/regions-cover.jpg")!important;min-height: 350px;    background-position: center; }



.post-date{font-size: 0.8em;}

.files-link{list-style-type: none;}

.api {}
.metadata {margin-left: 1em; text-transform: uppercase; background-color: navajowhite!important}
.file-metadata:before {margin-left: -1.5em; content: '\f0f6';  font-family: 'FontAwesome'; float: left; color: black;}
.csv {margin-left: 1em; text-transform: uppercase; background-color: rgb(53, 39, 255)!important}
.file-csv:before {margin-left: -1.5em; content: '\f019';  font-family: 'FontAwesome'; float: left; color: black;}
.geojson {margin-left: 1em; text-transform: uppercase; background-color: rgb(218, 185, 0)!important}
.file-geojson:before {margin-left: -1.5em; content: '\f019';  font-family: 'FontAwesome'; float: left; color: black;}
.gpkg {margin-left: 1em; text-transform: uppercase; background-color: orangered!important}
.file-gpkg:before {margin-left: -1.5em; content: '\f019';  font-family: 'FontAwesome'; float: left; color: black;}
.json {margin-left: 1em; text-transform: uppercase; background-color: aqua!important}
.html {}
.kml {}
.kmz {}
.shp {}
.xml {}
.wfs {margin-left: 1em; text-transform: uppercase; background-color: green!important}
.file-wfs:before {margin-left: -1.5em; content: '\f0c2';  font-family: 'FontAwesome'; float: left; color: black;}
.wms {margin-left: 1em; text-transform: uppercase; background-color: limegreen!important}
.file-wms:before {margin-left: -1.5em; content: '\f0c2';  font-family: 'FontAwesome'; float: left; color: black;}
.webmap  {margin-left: 1em; text-transform: uppercase; background-color: palegreen!important}
.file-webmap:before {margin-left: -1.5em; content: '\f278';  font-family: 'FontAwesome'; float: left; color: black;}
.gml {}
.geotiff {margin-left: 1em; text-transform: uppercase; background-color: violet!important}
.file-geotiff:before {margin-left: -1.5em; content: '\f03e';  font-family: 'FontAwesome'; float: left; color: black;}
.jpg {margin-left: 1em; text-transform: uppercase; background-color: purple!important}
.file-jpg:before {margin-left: -1.5em; content: '\f03e';  font-family: 'FontAwesome'; float: left; color: black;}

th, .additional-info-label {
  font-weight: 600;
}
ul {list-style-type: none;}


dataset{
  display: block;
  margin: .5rem 0 1rem 0;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  padding: 24px;
  border-radius: 0 0 2px 2px;
}


a {text-decoration: none;}
a:hover {text-decoration: underline;}

.btn-lg:hover {text-decoration: none;}

.post-date-label{text-transform: uppercase;}

.badge{
font-size: .8em;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 1200px) {
  .container
{
    max-width: 1140px;
  }
}

.navbar{min-height: 66px;}
.logo-img{height: 40px;}


.imagefix{
padding: 0rem !important;
border: 0px !important;
}