_site/
.sass-cache
.jekyll-metadata
_config.dev.yml
node_modules
*.map
_config.ci.yml
.parcel-cache
vendor

_site/categories/ancient/index.html
_site/categories/archaeology/index.html
_site/categories/ancient/index.html
_site/categories/archaeology/index.html
_site/categories/arts/index.html
_site/categories/contemporary/index.html
_site/categories/economy/index.html
_site/categories/education/index.html
_site/categories/environment/index.html
_site/categories/index.html
_site/categories/islam/index.html
_site/categories/medieval/index.html
_site/categories/military/index.html
_site/categories/modern/index.html
_site/categories/political/index.html
_site/categories/prehistory/index.html
_site/categories/routes/index.html
_site/categories/uncategorized/index.html
_site/aboutus/index.html
