---
title: Regions
layout: default
permalink: /regions/
---
{% include breadcrumbs.html %}
<div class="regions-cover container d-flex flex-row p-5 mb-4 rounded-3 justify-content-between">
  <div class="col-lg-6 justify-content-center">
    <h1 class="display-5 text-white" style="font-weight: 500;">Regions</h1>
  </div>
</div>

<div class="card-grid card-grid-region">
  {% for region in site.regions %}
    {% assign dataset_count = site.datasets | where:"region", region.title | size %}
    {% capture logo_alt %}{{ region.name }}{% if region.logo_credit and region.logo_credit != empty %} logo by {{ region.logo_credit }}{% endif %}{% endcapture %}
    <a class="card card-grid-item border hover-overlay" href="{{ site.baseurl }}{{ region.url }}" title="{{ region.title }}">
      <div class="d-flex flex-row justify-content-end">
        <span class="badge bg-primary rounded-pill float-end">{{ dataset_count }}</span>
      </div>
        {% if region.logo and region.logo != empty %}
            <img src="{{ region.logo | relative_url }}" alt="{{ logo_alt }}" >
        {% endif %}
        {{ region.title }}
      </a>
  {% endfor %}
</div>
