---
layout: page
title: 'All Tags'
subtitle: List of all tags in use 
cover-img: /assets/img/tags.jpg
---
 
{% assign date_format = site.date_format | default: "%B %-d, %Y" %}

{%- capture site_tags -%}
    {%- for tag in site.tags -%}
        {{- tag | first -}}{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
{%- endcapture -%}
{%- assign tags_list = site_tags | split:',' | sort -%}

{%- for tag in tags_list -%}
    <a href="#{{- tag -}}" class="btn btn-light tag-btn"><i class="fas fa-tag" aria-hidden="true"></i>&nbsp;{{- tag -}}&nbsp;({{site.tags[tag].size}})</a>
{%- endfor -%}


<div id="full-tags-list">
{%- for tag in tags_list -%}
    <h2 id="{{- tag -}}" class="linked-section">
        <i class="fas fa-tag" aria-hidden="true"></i>
        &nbsp;{{- tag -}}&nbsp;({{site.tags[tag].size}})
    </h2>
    <div class="post-list">
        {%- for post in site.tags[tag] -%}
            <div class="tag-entry post-preview card shadow-sm p-3 mb-5">
              <a href="{{ post.url | absolute_url }}">
        <h2 class="post-title">{{ post.title | strip_html }}</h2>

        {% if post.subtitle %}
          <h3 class="post-subtitle">
          {{ post.subtitle | strip_html }}
          </h3>
        {% endif %}
      </a>
            <div class="entry-date post-meta">
                <time datetime="{{- post.date | date_to_xmlschema -}}">{{- post.date | date: date_format -}}</time>
            </div>
            <div class="post-meta">
                {% if post.last-updated %}
                    Last updated: {{ post.last-updated | date: date_format }}
                {% endif %}
                {% if post.status %}
                <br><span class="post-meta">Status: {{ post.status | strip_html }}</span>
                {% endif%}
                {% if post.version %}
                <br><span class="post-meta">Version: {{ post.version | strip_html }}</span>
                {% endif%}             
          </div>
            </div>
        {%- endfor -%}
    </div>
{%- endfor -%}
</div>
