<!-- general behavior -->
<script type="module" src="{{ site.baseurl }}/scripts/dist/index.js"></script>

<footer class="footer">
      <div class="container">
            <div class="row">
                  <div class="col-sm-6 text-black-50">
                        <a href="https://alfobre.com" target="_blank"><img src="{{ site.baseurl }}/img/logo_alfobre.png" style="height:2em; auto;"></a>
                        <br /><br />
                        <p>A-GeoCat is a geospatial open data catalog developed and maintained by <a href="https://alfobre.com" class="text-black-50 footer-link" target="_blank">Alfobre</a>.</p>
                        <p><a href="https://alfobre.com" class="text-black-50 footer-link" target="_blank">Alfobre</a> (portuguese for seedbed) is a collective devoted to the creation and development of projects, strategies and products in the Heritage field.</p>
                  </div>
                  <div class="col-sm-2 text-black-50">
                  </div>

                  <div class="col-sm-4 text-black-50">
                        <h3>Contact info</h3>
                        <p><i class="fa fa-envelope-o" aria-hidden="true"></i> projeto.alfobre@gmail.com</p>
                        <p><a href="https://projetoalfobre.github.io/a-geocat/feed/datasets.xml"><i class="fa fa-rss" aria-hidden="true"></i> Datasets feed</a> </p>
                  </div>
            </div>
            <div class="row ">
                  <div class="col-sm-12 text-black-50">
                        <br>
                        <p>2023-2024 | Alfobre.com</p>
                  </div>
            </div>
      </div>
</footer>
