<!-- general behavior -->
<script type="module" src="{{ site.baseurl }}/scripts/dist/index.js"></script>

<footer class="footer">
      <div class="container">
            <div class="row">
                  <div class="col-sm-6 text-black-50">
                        <a href="https://alfobre.com" target="_blank"><img src="{{ site.baseurl }}/img/logo_alfobre.png" style="height:2em; auto;"></a>
                        <br /><br />
                        <p>A-GeoCat is a geospatial open data catalog developed and maintained by <a href="https://alfobre.com" class="" target="_blank">Alfobre</a>.
                        <br>Alfobre (portuguese for seedbed) is a collective devoted to the creation and development of projects, strategies and products in the Heritage field.</p>
                  </div>
                  <div class="col-sm-2 text-black-50">
                  </div>

                  <div class="col-sm-4 text-black-50">
<!--                        <h3>Contact info</h3>
                        <p><i class="fa fa-envelope-o" aria-hidden="true"></i> projeto.alfobre@gmail.com</p>
                        <p><i class="fa fa-rss" aria-hidden="true"></i> <a href="https://projetoalfobre.github.io/a-geocat/feed/datasets.xml" class="">Datasets - Atom/RSS feed</a> </p>
-->                        
    <div class="footer-links" >
      <ul class="contact-list" style="text-align: right;">
        <li class="pinterest"></li>
        <li class="phone"></li>    
        <li class="twitter"></li>
        <li class="linkedin"></li>
        <li class="email"><a href="mailto:projeto.alfobre@gmail.com" title="Email"><i title="Email" class="fa fa-envelope-o"></i></a></li>
        <li class="website"><a href="http://alfobre.com" target="_blank" title="WWW"><i title="WWW" class="fa fa-globe"></i></a></li>
        <li class="github"><a href="http://github.com/projetoalfobre" target="_blank" title="GitHub"><i title="GitHub" class="fa fa-github"></i></a></li>
        <li class="facebook"><a href="https://facebook.com/projeto.alfobre" target="_blank" title="Facebook"><i title="Facebook" class="fa fa-facebook"></i></a></li>
        <li class="instagram"><a href="https://instagram.com/projeto.alfobre" target="_blank" title="Instagram"><i title="Instagram" class="fa fa-instagram"></i></a></li>
      <li class="pinterest"><a title="Feed XML" href="https://projetoalfobre.github.io/a-geocat/feed/datasets.xml" class=""><i class="fa fa-rss" aria-hidden="true" title="Feed.xml"></i></a></li>
    </ul>
  </div>   
                  
                  </div>
            </div>
            <div class="row ">
                  <div class="col-sm-12 text-black-50 right">
                      
                        <p>2023-2024 | <a href="https://alfobre.com" class="" target="_blank">Alfobre.com</a></p>
                  </div>
            </div>
      </div>
</footer>
