<div class="container">
      <div class="row">
        <div class="col-lg-12 d-flex justify-content-left">
	      <h2>CATEGORIES</h2>
        </div>

	<div class="col-lg-12">
          
            <a href="{{ "/general" | relative_url }}" class="btn tag-btn btn-sq btn-outline-secondary"><img class="filter-svg" src="{{ "/assets/img/general.svg" | relative_url }}"><br/>
                GENERAL
	    </a>
            <a href="{{ "/africa" | relative_url }}" class="btn tag-btn btn-sq btn-outline-secondary"><img class="filter-svg" src="{{ "/assets/img/africa.svg" | relative_url }}"><br/>
                AFRICA
	    </a>
            <a href="{{ "/iberia" | relative_url }}" class="btn tag-btn btn-sq btn-outline-secondary"><img class="filter-svg" src="{{ "/assets/img/iberia.svg" | relative_url }}"><br/>
                IBERIA
	    </a>
            <a href="{{ "/portugal" | relative_url }}" class="btn tag-btn btn-sq btn-outline-secondary"><img class="filter-svg" src="{{ "/assets/img/portugal.svg" | relative_url }}"><br/>
                PORTUGAL
	    </a>
            <a href="{{ "/spain" | relative_url }}" class="btn tag-btn btn-sq btn-outline-secondary"><img class="filter-svg" src="{{ "/assets/img/spain.svg" | relative_url }}"><br/>
                SPAIN
	    </a>
        </div>
	</div>
<br/>
