/*homepage*/
.post-preview .post-title {font-size: 1.25rem;}
.post-preview .post-subtitle {font-size: 1rem;}
.post-preview .post-meta {font-size: 1rem;}

.blog-tags{text-transform: uppercase;}
.linked-section{text-transform: uppercase;}
.tag-btn{text-transform: uppercase;
         font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }
/*
.page-heading h2{font-size: 3rem;}
h1 {font-size: 1.5rem;}
h2 {font-size: 1.2rem;}
h3 {font-size: 1rem;}
*/

.badge {
text-transform: uppercase;
  background-color: #dbdee1;
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}
.badge:hover {
  background-color: #ebebec;
color: #007bff;
}

.blog-tags a:hover {
   border: 1px solid transparent;
border-color: #ebebec;
color: #007bff;
}
.page-subheading {
font-weight: 400;
}
.post-subheading {
font-weight: 400;font-size: 1.2rem;
}
