---
layout: default
---
{% include breadcrumbs.html parent="Regions" %}
{% assign datasets = site.datasets | where:"region", page.title   |  sort: "date" | reverse %}
{% assign datasets_count = datasets | size %}

<div class="container">
    <div class="row">
      {% if page.logo and page.logo != empty %}
      <div class="col-sm-3" style = "float: left;">

      <div class="dataset-region-container"><iframe class="dataset-region-iframe" src="{{ site.baseurl }}/maps-leaflet/{{ page.title }}.html" title="Dataset region"></iframe> </div>

      <div class="card-header post-date"><br><p> {{ page.description }} </p></div>  
      </div>
      <div class="col-sm-9" style = "float: right;" >
      {% else %}
      <div class="col-sm-12">
      {% endif %}
        <h1>
          {{ page.title }}
          <a href="{{ "/editor" | relative_url }}/#/collections/regions/entries/{{ page.slug }}" class=""></a>
        </h1>
        <div data-component="dataset-list" data-region="{{ page.title | slugify }}">
          <h3 class="datasets-count" data-hook="datasets-count">{{ datasets_count }}
              {% if datasets_count == 1 %}dataset{% else %}datasets{% endif %}</h3>
          <input type="text" data-hook="search-query" placeholder="Search..." class="form-control mb-3">
          <div data-hook="datasets-items">
           {% for dataset in datasets %}
            <dataset>
              <h3><a href="{{ site.baseurl }}{{ dataset.url }}">{{ dataset.title }}</a></h3>
              {{ dataset.notes }}
            </dataset>
           {% endfor %}
          </div>
        </div>
      </div>
      <div class="view-code-link">
       
      </div>
    </div>
</div>
</div>
